li {
  box-sizing: border-box;
  padding: 5px;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-end;
}

.Time {
  padding: 5px;
}

.UserName {
  padding: 5px;
  color: #000;
}

.Message {
  position: relative;
  margin-left: 15px;
  border-radius: 10px;
  color: #FFF;
  padding: 5px;
  background-color: #355BE6;
  max-width: 80%;
}

.Message:before {
  z-index: 999;
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -10px;
	right: auto;
  top: 5px;
	bottom: auto;
	border: 8px solid;
	border-color: #355BE6 #355BE6 transparent transparent;
}

.Message:after{
  z-index: 999;
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -6px;
	right: auto;
  top: 7px;
	bottom: auto;
	border: 3px solid;
	border-color: #FFF #FFF transparent transparent;
}
