.App {
  color: #B2B8B8;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
